{% extends "base.html" %}

{% block content %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Bulls</th>
            <th scope="col">Cows</th>
        </tr>
    </thead>
    <tbody>
        {% for dictionary in answers %}
        <tr>
            <td>{{ dictionary["number"] }}</td>
            <td>{{ dictionary["bulls"] }}</td>
            <td>{{ dictionary["cows"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if win_status %}
<p>Your answer was right. You won!</p>
{% elif n==12 %}
<p>You lost :(</p>
{% else %}
<div class="column">
    <form method="POST" action="{{ url_for('add') }}">
        <input class="col" type="text" name="number" placeholder="Enter digits" pattern="^(?!.*(.).*\1)\d{4}$" maxlength="4" minlength="4">
        <input class="col" type="submit" class="btn" value="Submit">
    </form>
    {% endif %}
    <form  method="GET" action="{{ url_for('new_game') }}">
        <input  class="col" type="submit" class="btn" value="New Game">
    </form>
</div>
<a  class="col" href="{{ url_for('about') }}">About the game</a>
{% endblock %}